<!DOCTYPE html>
<html>
<head>
    <title>Minimal Flask Website</title>
</head>
<body>
    <div class="container">
        <div class="map">
            {{ map_html|safe }}
        </div>
        <div class="controls">
            <form method="POST">
                <label for="origin">Origin Airport:</label>
                <select name="origin" onchange="this.form.submit()">
                    <option value="">Select Origin</option>
                    {% for code, name in all_airports %}
                        <option value="{{ code }}" {% if code == selected_origin %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            

                <!-- Destination -->
                <label for="destination">Destination Airport:</label>
                <select name="destination" id="destination" onchange="this.form.submit()">
                    <option value="">Select Destination</option>
                    {% for code, name in destination_options %}
                        <option value="{{ code }}" {% if code == selected_destination %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>

                <!-- Carrier -->
                <label for="destination">Select Carrier:</label>
                 <select name="carrier">
                    <option value="">Select Carrier</option>
                        {% for iata, name in carrier_options %}
                            <option value="{{ iata }}" {% if iata == selected_carrier %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                </select>

                <!-- Route Preference -->
                <label for="preference">Route Preference:</label>
                <select name="preference">
                    <option value="shortest" {% if route_preference=="shortest" %}selected{% endif %}>Shortest Distance</option>
                    <option value="cheapest" {% if route_preference=="cheapest" %}selected{% endif %}>Lowest Price</option>
                    <option value="fewest" {% if route_preference=="fewest" %}selected{% endif %}>Fewest Stops</option>
                    <option value="cost-effective" {% if route_preference=="cost-effective" %}selected{% endif %}>Most Cost-Effective</option>
                </select>

                <!-- Max Stops -->
                <label for="max_stops">Max Stops (optional):</label>
                <input type="number" name="max_stops" placeholder="e.g., 2">

                <button type="submit">Find Route</button>
            </form>

            {% if route_info %}
                <div class="results">
                    <h3>Route Info:</h3>
                    <p>{{ route_info }}</p>
                </div>
            {% endif %}
        </div>
    </div>

    
    
</body>
</html>